<h1>That's a Good Burger!</h1>

<main>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        {{#each burgers}}
        {{#unless this.devoured}}
        <div>
          <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class="burgerAvailable" name="button">{{this.burger_name}}</button>
          </form>

        </div>

        {{/unless}}
        {{/each}}

      </div>

      <div class="col-md-6">
        {{#each burgers}}
        {{#if this.devoured}}
        <div class="burgerEaten">
          <div>
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>Add Burger</h2>

<div class="row">
  <div class="col-md-12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Enter your burger here!">
      <button type="submit" class="addBurgerButton">Add Burger</button>
    </form>

  </div>

</div>
